extends ../modules/head
block title
	| Товар
block main
	header.main-header.catalog
		nav.main-nav.nav-catalog
			a.main-header__logo.logo__catalog(href='index.html')
				img.logo(src=require('../../assets/images/catalog-logo.png'), width="111" alt="logo")
			ul.main-nav__list
				li.main-nav__item
					a(href='#contacts') Информация
				li.main-nav__item
					a(href='#') новости
				li.main-nav__item
					a(href='#') прайс-лсит
				li.main-nav__item--current
					a(href='/catalog.html') магазин
				li.main-nav__item
					a(href='#') контакты
			ul.main-nav__entrance
				li.login__link(href='#') Вход
	main.product__page
		.product__container
			.product__wrapper
				h1.product-page__title набор для путешествий «Baxter of California»
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a.breadcrumbs__link(href='index.html') Главная
					li.breadcrumbs__item
						a.breadcrumbs__link(href='catalog.html') Магазин
					li.breadcrumbs__item
						a.breadcrumbs__link(href='index.html') Средство для ухода
					li.breadcrumbs__item набор для путешествий «Baxter of California»
			.product__wrapper-container
				.product-page__wrapper
					section.product-image
						h2.visually-hidden Товар
						figure.product
							p.product-image__full
								img.product__image(src=require('../../assets/images/product/layer-47-copy.png'), width="484" height="522" alt="baxter-of-california")
						ul.product-image__list
							li.product-image__item
								a.product-image__link(href='#')
									img(src=require('../../assets/images/product/layer-45.png'), width="164" height="173" alt="baxter-of-california--small")
							li.product-image__item
								a.product-image__link(href='#')
									img(src=require('../../assets/images/product/layer-46.png'), width="164" height="173" alt="baxter-of-california--small")
							li.product-image__item
								a.product-image__link(href='#')
									img(src=require('../../assets/images/product/layer-47.png'), width="164" height="173" alt="baxter-of-california--small")
				.product-description__wrapper
					section.product
						h2.visually-hidden Описание товара
						p.product__stock есть в наличии
						p.product__article Артикул: dexter-ae
						p.product__description Travel Kit – необходимый аксессуар во время любого путешествия. В аккуратной кожаной сумке находится все, что нужно для бритья и ухода за кожей во время рабочей поездки или отдыха: средство для умывания, увлажняющий крем, крем для бритья, крем после бритья, шампунь. Набор также может стать отличным подарком.
						p.product__price
							b 2 900 ₽
							button.button.button__price(type='button') Купить
					section.product__equipment
						h3.equipment__title В набор входят:
						ul.equipment__list
							li.equiment__item Средство для умывания (50 мл)
							li.equiment__item Увлажняющий крем (50 мл)
							li.equiment__item Крем для бритья (50 мл)
							li.equiment__item Крем после бритья, шампунь (50 мл)
							li.equiment__item Удобная кожаная косметичка
	include ../modules/footer


