main.main__page
	section.main-page__wrapper
		img.main-page__baner(src=require('../../images/baner.png'), width="320" height="490" alt="baner")
		.main-page__download
			img.main-page__fon(src=require('../../images/fon.png'), width="320" height="271" alt="fon__download")
			button.main-page__button(type='button') Скачать приложение
				a(href='#')
			ul.main-page__list
				li.main-page__item
					img.main-page__img(src=require('../../images/apple-logo.png'), width="47" height="56" alt="aple__logo")
				li.main-page__item
					img.main-page__img(src=require('../../images/android-logo.png'), width="43" height="47" alt="android__logo")
				li.main-page__item
					img.main-page__img(src=require('../../images/microsoft-logo.png'), width="44" height="41" alt="microsoft__logo")
			p.main-page__text Доступно для iPhone, iPad, Android,
				br
				| Windows Phone, OS X, Windows 8
	section.sentence
		header.sentence-header
			p.sentence-header__title Устали от серости
				br
				| мегаполиса?
			p.sentence-header__description Нам есть, что вам
				br
				| предложить!
		.sentence-list__wrapper
			.sentence-list__item
				b.sentence-list__title Поднимает настроение
				p.sentence-list__description Приложение позволит вам победить
					br
					| осеннюю хандру и депрессию
					br
					| буквально в несколько кликов!
			.sentence-list__item
				b.sentence-list__title Меняет мир вокруг
				p.sentence-list__description Сделайте снимок и украсьте его
					br
					| смайликом или текстовой подписью,
					br
					| чтобы усилить эффект
			.sentence-list__item
				b.sentence-list__title Заводит новых друзей
				p.sentence-list__description Ставьте лайки, комментируйте,
					br
					| делитесь фотографиями с друзьями и
					br
					| заводите новых
			.sentence-slider
				img.sentence-slider__img(src=require('../../images/iphone-screen--3.png'), width="157" height="320" alt="iphone")
				b.sentence-slider__title Николай Петров
				p.sentence-slider__description «Это приложение перевернуло мой мир
					br
					| и позволило по-новому взглянуть на
					br
					| привычные серые вещи! А еще я
					br
					| познакомился со своей будущей женой
					br
					| в комментариях к выложенной
					br
					| фотографии!»
				.sentence-slider__toggles
					button.slider__toggle(type='button')
					button.slider__toggle(type='button')
					button.slider__toggle(type='button')
	section.slider-price
		.slider-price__wrapper
			.slider-price__header
				img.slider-price__img(src=require('../../images/standart.png'), width="280" height="98" alt="price__standart")
				img.slider-price__hits(src=require('../../images/2-layers.png'), width="74" height="73" alt="hits")
				b.slider-price__title Стандарт
				p.slider-price__price 3,99 USD
			table.slider-price__table
				tr
					td.slider-price__item Розовый фильтр
					td.slider-price__icon
						img.slider-price__icon(src=require('../../images/yes-svg.png'), width="31" height="21" alt="yes")
				tr
					th.slider-price__item Смайлики
					td.slider-price__icon
						img.slider-price__icon(src=require('../../images/yes-svg.png'), width="31" height="21" alt="yes")
				tr
					th.slider-price__item Комментарии
					td.slider-price__icon
						img.slider-price__icon(src=require('../../images/no-svg.png'), width="27" height="26" alt="no")
			button.slider-price__toggle(type='button')
			button.slider-price__toggle(type='button')
			button.slider-price__toggle(type='button')
	





